fastapi==0.124.2
uvicorn[standard]==0.38.0
python-multipart==0.0.32
openpyxl==3.1.5
pypdf==6.16.2
reportlab==4.4.6
XlsxWriter==3.2.9
pydantic==2.12.5
SQLAlchemy==2.0.45
psycopg[binary]==3.3.2
python-docx==1.2.0
